{% import_yaml rootdir ~ "/defaults.yaml" as defaults %}
{% import_yaml rootdir ~ "/osfamilymap.yaml" as osfamilymap %}
{% import_yaml rootdir ~ "/osmap.yaml" as osmap %}
{% import_yaml rootdir ~ "/codenamemap.yaml" as oscodenamemap %}

{% set postgres = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        osfamilymap,
        grain='os_family',
        merge=salt['grains.filter_by'](
            osmap,
            grain='os',
            merge=salt['grains.filter_by'](
                oscodenamemap,
                grain='oscodename',
                merge=salt['pillar.get']('postgres', {}),
            ),
        ),
    ),
    base='postgres',
) %}
